In [75]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [76]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
97,tt2279373,74000000,311594032,The SpongeBob Movie: Sponge Out of Water,Tom Kenny|Bill Fagerbakke|Rodger Bumpass|Clanc...,Paul Tibbitt,He's leaving his world behind.,Burger Beard is a pirate who is in search of t...,93,Family|Animation,Paramount Pictures|Nickelodeon Movies|Nickelod...,2/5/2015,5.7,2015
1310,tt2234155,58000000,44000000,The Internship,Owen Wilson|Vince Vaughn|Tiya Sircar|Rose Byrn...,Shawn Levy,Hiring them was a brilliant mistake.,Two recently laid-off men in their 40s try to ...,119,Comedy,Twentieth Century Fox Film Corporation|Regency...,6/7/2013,6.1,2013
456,tt1423995,22000000,9479718,Stone,Frances Conroy|Robert De Niro|Edward Norton|Mi...,John Curran,Some People Tell Lies. Others Live Them.,Parole officer Jack Mabry has only a few weeks...,105,Drama,Stone Productions|Mimran Schur Pictures,10/7/2010,4.9,2010
463,tt0427152,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,5.4,2010
1778,tt0386032,9000000,24538513,Sicko,Michael Moore|George W. Bush|Bill Clinton|Hill...,Michael Moore,This might hurt a little.,Sicko is a Michael Moore documentary about the...,123,Documentary,The Weinstein Company,5/18/2007,7.0,2007

In [77]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [111]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

from itertools import combinations

def month_name(num, lang):
    """ Функция получения наименования месяца по его номеру и языку """
    en = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september',
          'october', 'november', 'december']
    ru = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь',
          'Октябрь', 'Ноябрь', 'Декабрь']
    if lang == 'en':
        return en[num - 1]
    else:
        return ru[num - 1]

def ex_check_26(answer):    
    """ 
    
    Функция проверки вопроса 26, имеется 5 списков с набором фильмов, если каждый фильм из набора
    имеется в датасете, мы выходим из циклов возвращая нужный нам набор фильмов
    
    """
    option = [['Inside Out', 'The Dark Knight', '12 Years a Slave'],
        ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
        ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
        ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
        ['Upside Down', 'Inside Out', 'Iron Man']]
    for list_films in option:
        true_answer = []
        length_set = len(list_films)
        for x_films in list_films:
            if x_films in answer.values:
                true_answer.append(True)
                if length_set == len(true_answer):
                    return list_films

def ex_check_27(answer):
    """ 
    Функция проверки вопроса 27, имеется список пар актёров который ищется в датасете 
    по заранее сформированным парам, если пара найдена, возвращаем 
    словарь с индексом пары количество совместных фильмов и самой парой
    
    """
    list_cast_pair = {}
    option = [('Johnny Depp', 'Helena Bonham Carter'), 
            ('Ben Stiller', 'Owen Wilson'), 
            ('Vin Diesel', 'Paul Walker'), 
            ('Adam Sandler', 'Kevin James'),
            ('Daniel Radcliffe', 'Rupert Grint')]
    for x in option:
        if x in answer.index:
            list_cast_pair[answer[x]] = x
            return list_cast_pair



data['release_date'] =  pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [112]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [113]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == max(data.budget)]
answers['1'] = f"{max_budget.index.values[0]}. {max_budget.original_title.values[0]} ({max_budget.imdb_id.values[0]})"

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [114]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [115]:
max_runtime = data[data.runtime == max(data.runtime)]
answers['2'] = f"{max_runtime.index.values[0]}. {max_runtime.original_title.values[0]} ({max_runtime.imdb_id.values[0]})"

# 3. Какой из фильмов самый короткий (в минутах)?

In [116]:
min_runtime = data[data.runtime == min(data.runtime)]
answers['3'] = f"{min_runtime.index.values[0]}. {min_runtime.original_title.values[0]} ({min_runtime.imdb_id.values[0]})"

# 4. Какова средняя длительность фильмов?

In [117]:
answers['4'] = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [118]:
answers['5'] = round(data['runtime'].median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [119]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == max(data.profit)]

answers['6'] = f"{max_profit.index.values[0]}. {max_profit.original_title.values[0]} ({max_profit.imdb_id.values[0]})"

# 7. Какой фильм самый убыточный?

In [120]:
damages = data[data.profit == min(data.profit)]

answers['7'] = f"{damages.index.values[0]}. {damages.original_title.values[0]} ({damages.imdb_id.values[0]})"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [121]:
profit = data[data.revenue > data.budget]
profit_count = len(profit)

answers['8'] = f"{profit_count}"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [122]:
films_2008 = data[data.release_year == 2008]
profit_2008 = films_2008[films_2008.profit == max(films_2008.profit)]

answers['9'] = f"{profit_2008.index.values[0]}. {profit_2008.original_title.values[0]} ({profit_2008.imdb_id.values[0]})"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [123]:
films_12_14 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
damages_12_14 = films_12_14[films_12_14.profit == min(films_12_14.profit)]

answers['10'] = f"{damages_12_14.index.values[0]}. {damages_12_14.original_title.values[0]} ({damages_12_14.imdb_id.values[0]})"

# 11. Какого жанра фильмов больше всего?

In [124]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

most_genres = Counter()
for x in data.genres.str.split('|'): most_genres += Counter(x)

answers['11'] = f"{most_genres.most_common(1)}"

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [125]:
profit_films = data[data.profit > 0]
most_genres_profit = Counter()
for x in profit_films.genres.str.split('|'): most_genres_profit += Counter(x)

answers['12'] = f"{most_genres_profit.most_common(1)}"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [126]:
df_copy = data.copy()
df_copy['dirs'] = df_copy['director'].str.split('|')
data_grp = df_copy.explode('dirs').groupby(['dirs']).revenue.sum().sort_values(ascending =False)
max_grp = data_grp[data_grp == max(data_grp)]

answers['13'] = f"{max_grp.index[0]}. {max_grp.values[0]}"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [127]:
df_copy_genres = data[data.genres.str.contains('Action', na = False)].copy()
df_copy_genres['dirs'] = df_copy_genres['director'].str.split('|')
df_copy_genresx = df_copy_genres.explode('dirs')
max_gnrs_dirs = df_copy_genresx.dirs.value_counts().sort_values(ascending =False)

answers['14'] = f"{max_gnrs_dirs.index[0]}. {max_gnrs_dirs.values[0]}"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [128]:
df_copy_cast = data[(data.release_year == 2012)].copy()
df_copy_cast['dst'] = df_copy_cast['cast'].str.split('|')
max_revenue_cast = df_copy_cast.explode('dst').groupby(['dst']).revenue.sum().sort_values(ascending =False)

answers['15'] = f"{max_revenue_cast.index[0]}. {max_revenue_cast.values[0]}"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [129]:
df_copy_cast_bd = data[data.budget > data.budget.mean()].copy()
df_copy_cast_bd['cst'] = df_copy_cast_bd['cast'].str.split('|')
max_bud_cast = df_copy_cast_bd.cst.explode().value_counts()

answers['16'] = f"{max_bud_cast.index[0]}. {max_bud_cast.values[0]}"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [130]:
df_NC_films = data[data.cast.str.contains('Nicolas Cage', na = False)].copy()
df_NC_films['gnrs'] = df_NC_films['genres'].str.split('|')
max_NC_gnrs = df_NC_films.gnrs.explode().value_counts()

answers['17'] = f"{max_NC_gnrs.index[0]}. {max_NC_gnrs.values[0]}"

# 18. Самый убыточный фильм от Paramount Pictures

In [131]:
df_PP_films = data[data.production_companies.str.contains('Paramount Pictures', na = False)].copy()
df_PP_films = df_PP_films[df_PP_films.profit == min(df_PP_films.profit)]

answers['18'] = f"{df_PP_films.index[0]}. {df_PP_films.original_title.values[0]}"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [132]:
df_year_rev = data.copy()
df_year_rev_g = df_year_rev.groupby(['release_year']).revenue.sum().sort_values(ascending =False)
max_rev_year = df_year_rev_g[df_year_rev_g == max(df_year_rev_g)]

answers['19'] = f"{max_rev_year.index[0]}. {max_rev_year.values[0]}"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [133]:
df_year_WB_prof = data[data.production_companies.str.contains('Warner Bros', na = False)].copy()
df_year_WB_prof_g = df_year_WB_prof.groupby(['release_year']).revenue.sum().sort_values(ascending =False)
max_WB_prof_year = df_year_WB_prof_g[df_year_WB_prof_g == max(df_year_WB_prof_g)]

answers['20'] = f"{max_WB_prof_year.index[0]}. {max_WB_prof_year.values[0]}"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [134]:
df_month_rev = data.copy()
max_films_year = df_month_rev.groupby(df_month_rev.release_date.dt.month).original_title.count().sort_values(ascending =False)

answers['21'] = f"{month_name(max_films_year.index[0], 'ru')}. {max_films_year.values[0]}"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [135]:
df_summer_rev = data.copy()
max_films_year = df_summer_rev.groupby(df_summer_rev.release_date.dt.month).overview.count().sort_values(ascending =False)
sum_summer_films = max_films_year[6]+max_films_year[7]+max_films_year[8]

answers['22'] = f"{sum_summer_films}"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [136]:
df_winter_films = data[(data.release_date.dt.month <= 2)|(data.release_date.dt.month >= 12)].copy()
df_winter_films['dirs'] = df_winter_films['director'].str.split('|')
max_cnt_flms_gnrs = df_winter_films.dirs.explode().value_counts()

answers['23'] = f"{max_cnt_flms_gnrs.index[0]}. {max_cnt_flms_gnrs.values[0]}"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [137]:
df_len_name_films = data.copy()
df_len_name_films['len_name'] = df_len_name_films.original_title.apply(len)
df_len_name_films['comp'] = df_len_name_films['production_companies'].str.split('|')
df_len_name_films = df_len_name_films.explode('comp').groupby(['comp']).len_name.mean().sort_values(ascending =False)

answers['24'] = f"{df_len_name_films.index[0]}. {df_len_name_films.values[0]}"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [138]:
df_len_overview_words = data.copy()
df_len_overview_words['len_wrds_ovrvw'] = df_len_overview_words['overview'].str.count(' ') + 1  #Считаем количество слов
df_len_overview_words['comp'] = df_len_overview_words['production_companies'].str.split('|')
df_len_overview_words = df_len_overview_words.explode('comp').groupby(['comp']).len_wrds_ovrvw.mean().sort_values(ascending =False)

answers['25'] = f"{df_len_overview_words.index[0]}. {df_len_overview_words.values[0]}"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [139]:
df_1_prcnt = data[data['vote_average']>=data.quantile(0.99, numeric_only=True)['vote_average']].copy()
answer = df_1_prcnt.original_title

#Проверка вариантов ответов в полученном датасете
answer = ex_check_26(answer)

answers['26'] = f"{answer}"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [140]:
actors_df = data.copy()
actors_df['cast_pair'] = actors_df.cast.str.split('|')
actors_df['cast_pair'] = actors_df.cast_pair.apply(lambda x:list(combinations(x, 2)))
actors_df = actors_df.explode('cast_pair').groupby(['cast_pair']).cast_pair.count().sort_values(ascending =False)

answer = actors_df.copy()

#Проверка вариантов ответов в полученном датасете
list_cast_pair = ex_check_27(answer)
max_count = max(list_cast_pair.keys())

answers['27'] = f"{list_cast_pair[max_count]}. {max_count}"

ВАРИАНТ 2

# Submission

In [141]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': "[('Drama', 782)]",
 '12': "[('Drama', 560)]",
 '13': 'Peter Jackson. 6490593685',
 '14': 'Robert Rodriguez. 9',
 '15': 'Chris Hemsworth. 2027450773',
 '16': 'Matt Damon. 18',
 '17': 'Action. 17',
 '18': '925. K-19: The Widowmaker',
 '19': '2015. 25449202382',
 '20': '2014. 3243064519',
 '21': 'Сентябрь. 227',
 '22': '450',
 '23': 'Peter Jackson. 7',
 '24': 'Four By Two Productions. 83.0',
 '25': 'Midnight Picture Show. 175.0',
 '26': "['Inside Out', 'The Dark Knight', '12 Years a Slave']",
 '27': "('Johnny Depp', 'Helena Bonham Carter'). 6"}

In [142]:
# и убедиться что ни чего не пропустил)
len(answers)

27